<ion-header>
        <ion-navbar>
          <ion-title style="zoom:1.5" color="dark">Activity Admin</ion-title>
          <ion-buttons end>
                <button ion-button>&nbsp;{{role}}&nbsp;</button>
                <button ion-button icon-only (click)="editprofile()"><ion-icon name="contact" style="zoom:1.5"></ion-icon></button>
                
              <button ion-button icon-only (click)="logout()"><ion-icon name="power" style="zoom:1.5"></ion-icon></button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>

<ion-content padding>
<div class="row">
        <div class="col-md-5">
            <button type="button" class="btn btn-success btn-lg"
            (click)="createActivity()">
            <span class="glyphicon glyphicon-plus"></span> Create New Activity..
            </button>
            <button type="button" class="btn btn-success btn-lg" 
            (click)="approveActvities()" style="width:250px">
            <span class="glyphicon glyphicon-pencil"></span> View and Edit Approvals..
            </button>
            
        </div>
        <div class="col-md-4">
            <ion-card>
                 <div class="row">
                    <div class="col-md-6">
                    <ion-label item-left>Activity Owner</ion-label>
                    <ion-item>
                            <ion-input type="text" name="activityowner" readonly="true" [(ngModel)]="model.activityowner"></ion-input>
                    </ion-item>
                    </div>
                    <div class="col-md-6">
                    <ion-label item-left>Activity Company ID</ion-label>
                    <ion-item>
                        <ion-input type="text" name="companyid" readonly="true" [(ngModel)]="model.companyid"></ion-input>
                    </ion-item>
                    </div>
                </div>
            </ion-card>
        
        </div>
    
</div>
<div class="row" *ngIf="approval==true">
    <div class="col-md-9">
            
            <ion-card class="ion-card-activity" *ngFor="let activity of activities">
                    <ion-card-content>
                            
                                <ion-card-title class="ion-card-title">
                                        {{activity.activityname}}
                                </ion-card-title>
                                <label>Activity Type:&nbsp; {{activity.activitytype}} </label><br>
                                <label>Owner ID:&nbsp; {{activity.activityowner}} </label><br>
                                <label>Approvalk Status:&nbsp; {{activity.approved}} </label><br>
                                <label>Activity Description:&nbsp; {{activity.activitydescription}} </label><br>
                                <button type="button" class="btn btn-success btn-lg"
                                (click)="updateActivity(activity)">
                                <span class="glyphicon glyphicon-plus"></span> Update Activity..
                                </button>
                                <button type="button" class="btn btn-success btn-lg"
                                (click)="approveActivity(activity)">
                                <span class="glyphicon glyphicon-plus"></span> Approve Activity..
                                </button>
                    </ion-card-content>
            </ion-card>
           
      
    </div>
</div>

<div class="row"  *ngIf="approval==false">
    <ion-card>
    <div class="col-md-9">
        
    <ion-card-header>Add Activity Details</ion-card-header>
            
    </div>
    <div class="col-md-12">
    <form  novalidate >
        <!-- we will place our fields here -->
        <div class="form-group">
                <label item-left>Activity Name</label>
                <ion-item>
                        <ion-input type="text" class="form-control"  name="name" [(ngModel)]="model.activityname"></ion-input>
                </ion-item>
                
                <label item-left>Description</label>
                <ion-item>
                    <textarea type="text"  class="form-control" name="activitydescription" [(ngModel)]="model.activitydescription"></textarea>
                </ion-item>
                
                <label item-left>Select Activity Type...</label>
                <ion-item >
                        
                        <ion-select  multiple class="form-control" name="selectedActivityType" [(ngModel)]="selectedActivityType" (ngModelChange)="onselectedActivityType($event)">
                            <ion-option *ngFor="let type of activitytypes" [value]="type">
                                {{type}}
                            </ion-option>
                        </ion-select>
                </ion-item>
                
                <label *ngIf="sponsorship==true" item-left>Donation Matching Percentage</label>
                <ion-item *ngIf="sponsorship==true">
                    
                    <ion-input type="text"  class="form-control" name="donationmatch" [(ngModel)]="model.donationmatch"></ion-input>
                </ion-item>
                
                <label item-left>Activity Start Date</label>
                <ion-item item-left>
                    <ion-datetime class="form-control" item-left displayFormat="DD/MM/YYYY" name="startdate" [(ngModel)]="model.startdate"></ion-datetime>
                </ion-item>
                
                <label item-left>Activity End Date</label>
                <ion-item item-left>
                    
                    <ion-datetime class="form-control" item-left displayFormat="DD/MM/YYYY" name="enddate" [(ngModel)]="model.enddate"></ion-datetime>

                </ion-item>
                
                <label item-left>Activity Donate URL</label>
                <ion-item>
                    
                    <ion-input type="text" class="form-control" name="mydonateurl" [(ngModel)]="model.mydonateurl"></ion-input>
  
                </ion-item>
                <br>

        </div>
            <button (click)=save() class="btn btn-success btn-lg"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save</button>
    </form>
    </div>
</ion-card>
</div>
</ion-content>