<ion-header>
        <ion-navbar>
          <ion-title style="zoom:1.5" color="dark">Activity Admin</ion-title>
          <ion-buttons end>
              <button ion-button icon-only (click)="logout()"><ion-icon name="power" style="zoom:1.5"></ion-icon></button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>

<ion-content padding>

<div class="row">
        <div class="col-md-12">
        <button type="button" class="btn btn-success btn-lg"
        (click)="createVolunteer()">
        <span class="glyphicon glyphicon-plus"></span> Create Volunteering Activity
        </button>
        <button type="button" class="btn btn-success btn-lg"
        (click)="createSponsorship()">
        <span class="glyphicon glyphicon-plus"></span> Create Sponsorship Activity
        </button>
        <button type="button" class="btn btn-success btn-lg"
        (click)="createOther()">
        <span class="glyphicon glyphicon-plus"></span> Create General Activity
        </button>
        <button type="button" class="btn btn-success btn-lg"
        (click)="approveActvities()">
        <span class="glyphicon glyphicon-plus"></span> Approve Activities
        </button>
        </div>
</div>
          <br><br>


<div class="row">
    <div class="col-md-12">
    <h4>Add Activity Details</h4>
            
    </div>

</div>
<div class="row">
    <div class="col-md-12">
    <form  novalidate >
        <!-- we will place our fields here -->
        <div class="form-group">
                
                <ion-item >
                        <ion-label item-left>Activity Name</ion-label>
                        <ion-input type="text" name="name" [(ngModel)]="model.activityname"></ion-input>
                </ion-item>
                <br>

                <ion-item ><ion-label item-left>Description</ion-label>
                <ion-input type="text"  name="activitydescription" [(ngModel)]="model.activitydescription"></ion-input>
                </ion-item>
                <br>

                <ion-item>
                    <ion-label item-left>Activity Owner</ion-label>
                    <ion-input type="text" name="activityowner" [(ngModel)]="model.activityowner"></ion-input>
                </ion-item>

                <br>

                <ion-item >
                        <ion-label item-left>Select Activity Type...</ion-label>
                        <ion-select name="selectedActivityType" [(ngModel)]="selectedActivityType" (ngModelChange)="onselectedActivityType($event)">
                            <ion-option *ngFor="let type of activitytypes" [value]="type">
                                {{type}}
                            </ion-option>
                        </ion-select>
                </ion-item>
                <br>  

                <ion-item>
                    <ion-label item-left>Donation Matching Percentage</ion-label>
                    <ion-input type="text" name="donationmatch" [(ngModel)]="model.donationmatch"></ion-input>
                </ion-item>
                <br>

                <!-- <ion-item>
                    <ion-label item-left>Activity Approved</ion-label>
                    <ion-input type="text" name="approved" [(ngModel)]="model.approved"></ion-input>
                </ion-item> -->
                <br>

                <ion-item>
                    <ion-label item-left>Activity Company ID</ion-label>
                    <ion-input type="text" name="companyid" [(ngModel)]="model.companyid"></ion-input>
                </ion-item>
                
                <br>

                <ion-item>
                    <ion-label item-left>Activity Start Date</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" name="startdate" [(ngModel)]="model.startdate"></ion-datetime>
                </ion-item>
                <br>

                <ion-item>
                    <ion-label item-left>Activity End Date</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" name="enddate" [(ngModel)]="model.enddate"></ion-datetime>

                </ion-item>
                <br>

                <ion-item>
                    <ion-label item-left>Activity Donate URL</ion-label>
                    <ion-input type="text" name="mydonateurl" [(ngModel)]="model.mydonateurl"></ion-input>
  
                </ion-item>
                <br>

        </div>
            <button (click)=save() class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span>&nbsp;Save</button>
<!--             <button *ngIf="updateexistingcompany=='true'" (click)=update() class="btn btn-success btn-lg"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Update</button>
 -->    </form>
    </div>
</div>
</ion-content>