.ios, .md {
    
       stories-admin {

        .ion-card-article{
            position: relative;
            text-align: left;
            width:400px;
            height:600px;
          }

        .ion-scroll-article {
            height: 600px;
        }

        /* ion-textarea {
            height:220px;
        }

        

          
 
        ion-item {
            border-radius: 20px !important;
            padding-left: 5px !important;
            margin-bottom:5px;
            background-color: #f7e89f;
            opacity: 0.7;
            font-size: 1.2em;
            color:#1a0155;
        }
 
        ion-list {
            margin: 0;
            background-color: #ffffff;
            color:#1a0155;
        }

        ion-label {
            font-size: 1.5em;
            color: #1a0155;
            width:350px;
        }
 
        
        .heading-text {
            flex: 1;
            align-items: center;
            text-align: center;
        }
 
        .heading-text h3 {
            color: #fff;
        }
 
        .file-label {
            font-size:0.6em;
            color:#1a0155;
        }

        .account-form {
            flex: 1;
        }
 
        .continue-button {
            width: 100%;
            border-radius: 30px;
            margin-top: 30px;
            font-size: 0.9em;
            background-color: transparent;
            border: 1px solid #fff;
        } */
    
       }
    
   }