.ios, .md {
page-home {

   
    .button.customBtn{
        width:260px;
        height:100px;
    }
    .image-container {
        min-height: 150px;
        min-width:500px;
        background-size: cover;
    }

   

  /*   scroll-content {
        display: flex;
        flex-direction: column;
    }

    ion-item {
        border-radius: 30px !important;
        padding-left: 10px !important;
        margin-bottom: 10px;
        background-color: #f7f4f4;
        opacity: 0.7;
        font-size: 0.9em;
        color:#1a0155;
    }

    ion-list {
        margin: 0;
        background-color: #ffffff;
        color:#1a0155;
    }

    ion-label {
        font-size: 1.5em;
        color:#1a0155;
    } */

   /*  .heading-text {
        flex: 1;
        align-items: center;
        text-align: center;
    }

    .heading-text h3 {
        color: #fff;
    }


    .account-form {
        flex: 1;
    }

    .continue-button {
        width: 100%;
        border-radius: 30px;
        margin-top: 30px;
        font-size: 0.9em;
        background-color: transparent;
        border: 1px solid #fff;
    }
 */
    @media (min-width: 0px) {
        .images {
            column-count: 2;
        }
    }
 
    @media (min-width: 420px) {
        .images {
            column-count: 3;
        }
    }
 
    @media (min-width: 720px) {
        .images {
            column-count: 4;
        }
    }
 
    .one-image {
        margin: 2px;
    }
}
}