// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
.toolbar-background {
    
        background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#bea203));
        background-image: -webkit-linear-gradient(top, #ffffff, 75%, #bea203, 100%);
        background-image: -moz-linear-gradient(top, #ffffff 75%, #bea203 100%);
        background-image: linear-gradient(to bottom, #ffffff 75%, #bea203 100%);
        background-repeat: repeat-x;
    
    } 
    .ios, .md {
    ion-navbar {
        height:100px;
    }

    ion-content {
        margin-top:10px;
    }
     
    ion-title {
        color:#834b01;
    }
    
    scroll-content {
        display: flex;
        flex-direction: column;
    }

    ion-item {
        border-radius: 20px !important;
        padding-left: 5px !important;
        margin-bottom:5px;
        background-color: #f7e89f;
        opacity: 0.7;
        font-size: 1.2em;
        color:#1a0155;
    }

    ion-list {
        margin: 0;
        background-color: #ffffff;
        color:#1a0155;
    }

    ion-label {
        font-size: 1.5em;
        color: #1a0155;
    }

    ion-card {
     background: #f7e89f;
     border: 1px solid #bea203;
     margin: 10px auto 10px;
     padding: 10px;
    }

    ion-card-header {
        font-size:2.0em;
    }

    ion-datetime {
        width:150px;
    }
    .heading-text {
        flex: 1;
        align-items: center;
        text-align: center;
    }

    .heading-text h3 {
        color: #fff;
    }
    
    .file-label {
        font-size:0.6em;
        color:#1a0155;
    }

    .account-form {
        flex: 1;
    }

    .continue-button {
        width: 100%;
        border-radius: 30px;
        margin-top: 30px;
        font-size: 0.9em;
        background-color: transparent;
        border: 1px solid #fff;
    }
    .btn-lg {
        width:200px;
    }
    }
    