.ios, .md {
    forgot-page {
        
       
    
           scroll-content {
               display: flex;
               flex-direction: column;
           }
    
           ion-row {
               align-items: center;
               text-align: center;
           }
    
           ion-item {
               border-radius: 30px !important;
               padding-left: 10px !important;
               margin-bottom: 10px;
               background-color: #f6f6f6;
               opacity: 0.7;
               font-size: 0.9em;
           }
    
           ion-list {
               margin: 0;
           }
    
           .forgot-logo {
               flex: 2;
           }
    
           .forgot-form {
               flex: 1;
           }
    
           .create-account {
               color: #fff;
               text-decoration: underline;
               background: none;
           }
    
           .forgot-button {
            border-radius: 30px;
            font-size: 1.5em;
            //background-color: transparent;
            border: 3px solid #fff;
           }
    
       }
    }