.ios, .md {
    
themes-admin {
    
    

    .child-form {
        border: 1px solid black;
        margin-bottom: 20px;
        padding: 20px;
    }
    .form-control {
        width:100%;
    }
    .form-group {
        width:35%;
    }

    .label {
        color: black;
        
    }
    .floatleft {
        font-size:1.5em;
        float:left;
    }
    .floatright {
        float:right;
        min-height: 10px;
    }
    .item {
        min-height: 10px; /* <- this can be whatever you need */
    }

    ion-label {
        margin: 1px 1px 1px 0;
      }
}
}