.ios, .md {
    
themes-admin {
    ion-content {
        background-color: map-get($colors, pagebackground);
    }

    .child-form {
        border: 1px solid black;
        margin-bottom: 20px;
        padding: 20px;
    }
    .form-control {
        width:100%;
    }
    .form-group {
        width:35%;
    }

    .label {
        color: black;
        
    }
    .floatleft {
        font-size:1.5em;
        float:left;
    }
    .floatright {
        float:right;
    }
}
}