<ion-header>
        <ion-navbar>
          <ion-title style="zoom:1.5">Themes Admin</ion-title>
          <ion-buttons end>
                 <button ion-button>&nbsp;{{role}}&nbsp;</button>
                 <button ion-button icon-only (click)="editprofile()"><ion-icon name="contact" style="zoom:1.5"></ion-icon></button>
               
              <button ion-button icon-only (click)="logout()"><ion-icon name="power" style="zoom:1.5"></ion-icon></button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>
      
<ion-content padding>  
<ion-grid>
    <ion-row>
            <ion-col col-8>
                    <div class="container">
                            <h4>Use this page to add and delete themes. If you want to update an existing theme you<br/>
                            you will need to first delete it before creating the updated version.</h4>
                    </div>
            </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-5 *ngIf="role=='QCFAdmin'">
            <ion-card>
        <div class="container">
                <h2>Add theme</h2>
                <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
                        <!-- we will place our fields here -->
                    
                        <!-- name -->
                        <!-- <div class="form-group"> -->
                            <label>Theme</label>
                            <ion-item>
                            <input default type="text" class="form-control" formControlName="name">
                            </ion-item>
                            <!--display error message if name is not valid-->
                            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                                Theme is required (minimum 5 characters).
                            </small>
                        <!-- </div> -->
                    
                        <!-- list of addresses -->
                        <div formArrayName="areas" class="form-group">
                            <div *ngFor="let subtheme of myForm.controls.areas.controls; let i=index">
                                <!-- address header, show remove button when more than one address available -->
                                <div>
                                    <!-- <span><h3>Sub Theme {{i + 1}}</h3></span> -->
                                    <span *ngIf="myForm.controls.areas.controls.length > 1" (click)="removeSubTheme(i)">
                                    </span>
                                </div>
                    
                                <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                                <div [formGroupName]="i">
                                    <!--street-->
                                    <div>
                                        <label>Sub Theme</label>
                                        <input type="text" class="form-control" formControlName="area">
                                        <!--display error message if street is not valid-->
                                        <small [hidden]="myForm.controls.areas.controls[i].controls.area.valid" class="text-danger">
                                            At least on subtheme is required
                                        </small>
                                    </div>
                
                               
                                </div>
                            </div>
                        </div>
                        <div class="margin-20" class="form-group">
                                <a (click)="addSubTheme()" style="cursor: default">
                                  Add another sub theme +
                                </a>
                        </div>
                        <div class="margin-20" class="form-group">
                            <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Add..</button>
                        </div>
                        <!-- <br><br>
                        <div class="margin-20" class="form-group">
                                <div>myForm details:-</div>
                                <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
                                <pre>form value: <br>{{myForm.value | json}}</pre>
                        </div> -->
                    
                    </form>
                    
            </div>
        </ion-card>
        </ion-col>
        <ion-col col-5 text-left>
            <ion-card item-left *ngFor="let theme of themes">
             <div>
                        <ion-list>
                            
                                    <span >{{theme.name}}</span>
                                    <button *ngIf="role=='QCFAdmin'" type="button" class="btn btn-primary pull-right btn-sm" (click)="deleteTheme(theme)">Delete</button>
                                    <ion-list>
                                        <ion-item item-right style="height:15px;" *ngFor="let area of theme.areas">
                                            <span class="floatright">{{area}}</span>
                                        </ion-item>
                                    </ion-list>
                            
                        </ion-list>
                    </div>
                        
               </ion-card>
                     

        </ion-col>
    </ion-row>
    
</ion-grid>
    
    </ion-content>

   