<ion-header>
        <ion-navbar>
          <ion-title style="zoom:1.5">Themes Admin</ion-title>
          <ion-buttons end>
              <button ion-button icon-only (click)="logout()"><ion-icon name="power" style="zoom:1.5"></ion-icon></button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>
      
<ion-content padding>  

        <div class="container">
                <h2>Add theme</h2>
                <form [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
                        <!-- we will place our fields here -->
                    
                        <!-- name -->
                        <div class="form-group">
                            <label>Theme</label>
                            <input type="text" class="form-control" formControlName="name">
                            <!--display error message if name is not valid-->
                            <small *ngIf="!myForm.controls.name.valid" class="text-danger">
                                Theme is required (minimum 5 characters).
                            </small>
                        </div>
                    
                        <!-- list of addresses -->
                        <div formArrayName="areas">
                            <div *ngFor="let subtheme of myForm.controls.areas.controls; let i=index">
                                <!-- address header, show remove button when more than one address available -->
                                <div>
                                    <span><h3>Sub Theme {{i + 1}}</h3></span>
                                    <span *ngIf="myForm.controls.areas.controls.length > 1" (click)="removeSubTheme(i)">
                                    </span>
                                </div>
                    
                                <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
                                <div [formGroupName]="i">
                                    <!--street-->
                                    <div>
                                        <label>Sub Theme</label>
                                        <input type="text" class="form-control" formControlName="area">
                                        <!--display error message if street is not valid-->
                                        <small [hidden]="myForm.controls.areas.controls[i].controls.area.valid">
                                            Area is required
                                        </small>
                                    </div>
                
                               
                                </div>
                            </div>
                        </div>
                        <div class="margin-20">
                                <a (click)="addSubTheme()" style="cursor: default">
                                  Add another sub theme +
                                </a>
                        </div>
                        <div class="margin-20">
                            <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
                        </div>
                        <br><br>
                        <div class="margin-20">
                                <div>myForm details:-</div>
                                <pre>Is myForm valid?: <br>{{myForm.valid | json}}</pre>
                                <pre>form value: <br>{{myForm.value | json}}</pre>
                        </div>
                    </form>
                    
            </div>
    </ion-content>

   