<ion-header>
        <ion-navbar>
          <ion-title style="zoom:1.5">Company Admin</ion-title>
          <ion-buttons end>
                 <button ion-button>&nbsp;{{role}}&nbsp;</button>
                 <button ion-button icon-only (click)="editprofile()"><ion-icon name="contact" style="zoom:1.5"></ion-icon></button>
               
              <button ion-button icon-only (click)="logout()"><ion-icon name="power" style="zoom:1.5"></ion-icon></button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>

<ion-content padding>
       

      <div class="row">
            <div class="col-md-12">
            <button *ngIf="role == 'QCFAdmin'" type="button" class="btn btn-success btn-lg"
            (click)="createnew()">
            <span class="glyphicon glyphicon-plus"></span> Create New
            </button>
            <button *ngIf="role == 'QCFAdmin' || role == 'BusinessAdmin'" type="button" class="btn btn-primary btn-lg"
            (click)="updatemycompany()">
            <span class="glyphicon glyphicon-pencil"></span> My Company
            </button>
            <button *ngIf="role == 'QCFAdmin'" type="button" class="btn btn-primary btn-lg"
            (click)="updateexisting()">
            <span class="glyphicon glyphicon-pencil"></span> Select Company
            </button>
            </div>
      </div>
     
      <div class="row"> <ion-card>
        <div class="col-md-3">
            <label *ngIf="updateexistingcompany =='true'&&updatecompany == 'false'" item-left>Select Company...</label>
            <ion-item *ngIf="updateexistingcompany =='true'&&updatecompany == 'false'">
                <ion-select #select1 class="form-control" item-left  [ngModel]="selectedValue" (ngModelChange)="selectItem($event)">
                    <ion-option [value]="company.companyname" *ngFor="let company of companies">{{company.companyname}}</ion-option>
                </ion-select>
            </ion-item>
        </div>
        <div class="col-md-6" *ngIf="updateexistingcompany =='true' || createnewcompany =='true'">
            <div class="row"  *ngIf="updateexistingcompany =='true' || createnewcompany =='true'">
                <div class="col-md-8">
                    <form>
                        <div class="form-group">
                            <ion-item>
                            <label class="file-label" for="single">Logo Upload (complete before saving company details):</label>
                            <input ion-button default type="file" class="form-control-file btn btn-primary btn-s" name="single" ng2FileSelect [uploader]="uploader" />                                  
                        </ion-item>
                        </div> 
                                                        
                    </form>
                </div>

                <div class="col-md-4">
                    <img [src]="filePreviewPath" width="200" *ngIf="filePreviewPath" />
                    <img [src]="fileRetrievePath" width="200" *ngIf="fileRetrievePath" />
                   
                </div>

            </div>
            <div class="row"  *ngIf="updateexistingcompany =='true' || createnewcompany =='true'">
            <div class="col-md-12">
                Queue length: {{ uploader?.queue?.length }}

                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                        <td>
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs"
                                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs"
                                    (click)="item.cancel()" [disabled]="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                                    (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                
            </div>
        </div>

        </div>
    </ion-card>
    </div>
      
    <div class="row"  *ngIf="updateexistingcompany =='true' || createnewcompany =='true'">
    <div class="col-md-8">
    <form  novalidate >
        <!-- we will place our fields here -->
        <div >
            <ion-card>
                <ion-card-header>Company Details</ion-card-header>
                <label>Company Name</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="model.companyname">
                <!--display error message if name is not valid-->
                <!-- <small *ngIf="!themeForm.controls.name.valid" class="text-danger">
                    Name is required (minimum 5 characters).
                </small> -->
                <br>
                <label>Description</label>
                <textarea type="text"  class="form-control" name="companydescription" [(ngModel)]="model.companydescription"></textarea>
                <!--display error message if name is not valid-->
                <!-- <small *ngIf="!themeForm.controls.areaname.valid" class="text-danger">
                    Areaname is required (minimum 5 characters).
                </small> -->
                <br>
                <label>Filename (do not edit, will be populated from fileupload completed above)</label>
                <input type="text" class="form-control" name="filename" [(ngModel)]="model.filename">
                <!--display error message if name is not valid-->
                <!-- <small *ngIf="!themeForm.controls.companyname.valid" class="text-danger">
                        companyname is required (minimum 5 characters).
                </small> -->
                <br>
                <label>Email</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="model.email">
                <!--display error message if name is not valid-->
                <!-- <small *ngIf="!themeForm.controls.subject.valid" class="text-danger">
                        subject is required (minimum 5 characters).
                </small> -->
                <br>
            <div class="row">
            <div class="col-md-6">
            <label item-left>Select Themes...</label>
            <ion-item >
            <ion-select multiple class="form-control" name="selectedThemes" [(ngModel)]="selectedThemes" (ngModelChange)="onSelectTheme($event)">
                <ion-option *ngFor="let theme of themes" [value]="theme.name">
                    {{ theme.name }}
                </ion-option>
            </ion-select> 
            </ion-item>
            </div>
            <div class="col-md-6">
                    <ion-list>
                            <ion-label item-left>Selected Themes...</ion-label>
                            <ion-item item-left style="height:15px;" *ngFor="let theme of selectedThemes">
                                    <span class="floatright">{{theme}}</span>
                            </ion-item>
                        </ion-list>
                    
                    </div>
            </div>
            <button *ngIf="updateexistingcompany=='false'" (click)=save(companyForm) class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</button>
            <button *ngIf="updateexistingcompany=='true'" (click)=update() class="btn btn-success btn-lg"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Update</button>

        </ion-card>
        </div>
        <!--  <p>{{selectedValues | json}}</p> -->
        
    </form>
    </div>
</div>
      <!-- <div>
              <h2>Model:</h2>
              {{ currentCompany }}
      </div> -->
              




        
      


      </ion-content>