<ion-header>
        <ion-navbar>
          <ion-title style="zoom:1.5">Company Admin</ion-title>
          <ion-buttons end>
              <button ion-button icon-only (click)="logout()"><ion-icon name="power" style="zoom:1.5"></ion-icon></button>
          </ion-buttons>
        </ion-navbar>
      </ion-header>

      <ion-content padding >

        

        <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  
                <h1>Company Configuration</h1>  
               
              </div>
              </div>
          </div>
      </nav>
      <div class="container">
          <select [ngModel]="selectedValue" (ngModelChange)="selectItem($event)">
                  <option [value]="company.companyname" *ngFor="let company of companies">{{company.companyname}}</option>
              </select>
      </div>
      <div class="row">
          <div class="col-md-12">
            <h2>Logo Upload (must complete before saving company details):</h2>
          </div>
      </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <label for="single">Select Image File</label>
                        <input type="file" class="form-control btn btn-warning btn-xs" name="single" ng2FileSelect [uploader]="uploader" />                                  
                    </div> 
                    <img [src]="filePreviewPath" width="200" *ngIf="filePreviewPath" />                                  
                </form>
            </div>
            </div>
            <div class="row">
            <div class="col-md-12">
                Queue length: {{ uploader?.queue?.length }}

                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item.file.name }}</strong></td>
                        <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                        <td>
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs"
                                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs"
                                    (click)="item.cancel()" [disabled]="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                                    (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div>
                    <div>
                        Queue progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s"
                            (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s"
                            (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s"
                            (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                    </button>
                </div>
            </div>
        </div>
<br>

<div class="row">
    <div class="col-md-12">
  <h4>Add Company Details</h4>
          
  </div>

</div>
      <div class="row">
          <div class="col-md-12">
          <form  novalidate (ngSubmit)="save(companyForm)">
              <!-- we will place our fields here -->
              <div class="form-group">
                      <label>Company Name</label>
                      <input type="text" class="form-control" name="name" [(ngModel)]="model.companyname">
                      <!--display error message if name is not valid-->
                      <!-- <small *ngIf="!themeForm.controls.name.valid" class="text-danger">
                          Name is required (minimum 5 characters).
                      </small> -->
                      <br>
                      <label>Description</label>
                      <input type="text"  class="form-control" name="companydescription" [(ngModel)]="model.companydescription">
                      <!--display error message if name is not valid-->
                      <!-- <small *ngIf="!themeForm.controls.areaname.valid" class="text-danger">
                          Areaname is required (minimum 5 characters).
                      </small> -->
                      <br>
                      <label>Filename</label>
                      <input type="text" class="form-control" name="filename" [(ngModel)]="model.filename">
                      <!--display error message if name is not valid-->
                      <!-- <small *ngIf="!themeForm.controls.companyname.valid" class="text-danger">
                              companyname is required (minimum 5 characters).
                      </small> -->
                      <br>
                      <label>Email</label>
                      <input type="text" class="form-control" name="email" [(ngModel)]="model.email">
                      <!--display error message if name is not valid-->
                      <!-- <small *ngIf="!themeForm.controls.subject.valid" class="text-danger">
                              subject is required (minimum 5 characters).
                      </small> -->
                      <br>
                    <select multiple name="selectedThemes" ngModel (change)=onSelectTheme($event.target.options)>
                        <option *ngFor="let theme of themes" [ngValue]="theme">
                            {{ theme.name }}
                        </option>
                    </select> 
                </div>
                <p>{{selectedValues | json}}</p>
              
                  <button type="submit" class="btn btn-success btn-s">Submit</button>
          </form>
          </div>
      </div>
      <div>
              <h2>Model:</h2>
              {{ currentCompany }}
      </div>
              




        
      


      </ion-content>