.ios, .md {
    
       signup {
        
       
        ion-card {
            background: #f7e89f;
            border: 1px solid #bea203;
            margin: 10px auto 0px;
            padding: 30px;
           }
       
        
    
        scroll-content {
            display: flex;
            flex-direction: column;
        }
 
        ion-item {
            border-radius: 20px !important;
            padding-left: 5px !important;
            margin-bottom:5px;
            background-color: #f7e89f;
            opacity: 0.7;
            font-size: 1.2em;
            color:#1a0155;
        }
 
        ion-list {
            margin: 0;
            background-color: #ffffff;
            color:#1a0155;
        }

        ion-label {
            font-size: 1.5em;
            color: #1a0155;
        }
 
        ion-card-header {
            font-size:2.0em;
        }

        .heading-text {
            flex: 1;
            align-items: center;
            text-align: center;
        }
 
        .heading-text h3 {
            color: #fff;
        }
 
        .file-label {
            font-size:0.6em;
            color:#1a0155;
        }

        .account-form {
            flex: 1;
        }
 
        .continue-button {
            border-radius: 30px;
            font-size: 1.2em;
            //background-color: transparent;
            border: 3px solid #fff;
        }
 
    }
}
 